@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: white;
}
/* **************element styling **************** */
ul li{
    list-style: none;
}
a{
    font-size: 1.6rem;
    text-decoration: none;
}
p,li{
    font-size: 1.6rem;
    letter-spacing: .14em;
    margin-bottom: .5em;
}
h1,h2,h3{
    font-weight: 500;
    margin-bottom: .5em;
}
/* ********* utility Classes ********* */
.container{
    max-width:1300px;
    width: 90%;
    /* to center elements insider it */
    margin: 0 auto; 
}
.btn{
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
    /* we want l-> r have more padding since we are making round sides */
    padding: .5rem 1.5em;  
    margin: .5em 0; 
}
.primary-btn{ 
    background-color: #f4f4f4;
    /* giving larger value to border radious makes it more circular  */
    border-radius: 10em;
}
.secondary-btn{
    border: .2rem solid #e63946;
    border-radius: 1.5em;
    color: #e63946;
    background: #f4f4f4;
}
.primary-btn:hover{
    background-color: #ddd;
}
.secondary-btn:hover{
    background-color: #fcf3f2;
}
.lg-heading{
    font-size: 3.5rem;
}
.md-heading{
    font-size: 2.2rem; 
}
.text-red{
    color: #e63946;
}
.text-light{
    color: #f4f4f4;
}
.text-black{
    color: #333; 
}
.bg-dark{
    background-color: #263238;
}
/* specific styling */
.header{
    position:relative; 
    background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url(../img/header-image.jpg);
    height: 95vh;
    background-size: cover;
    background-position: center;
}

/* flixing heading and links */
.nav-bar .logo{
    float: left;
}
.nav-bar .nav-items{
    float: right;
}
.nav-bar:after{
    content: "";
    display: block;
    clear: both;
}
.nav-bar{
    padding: 2rem;
}
.nav-bar .nav-item{
    display: inline-block;
    padding: 2rem 1rem;
}
.nav-item a:link,
.nav-item a:visited{
    color: #f4f4f4;
}
.nav-item a{
    padding-bottom: .5rem;
    text-transform: uppercase;
}
.nav-item a:hover{
    border-bottom: .3rem solid white;
}
/* making header-content in center */
.header-content h1{
    font-weight: 700;
    text-transform: uppercase;   
}
.header-content p{
    text-transform: uppercase;
}
.header-content{
    position: absolute; 
    top: 50%; 
    left: 50%; 
    text-align: center;
    transform: translate(-50%,-50%);
    background: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.1));
}
/* ************* showcase styling ********************* */
.show-case{
    padding: 10rem;
    background-color: #ddd;
    color: black;
}
.row{
    height: 350px;
    box-shadow: 0px 0px 10px 0px #aaa;
}
.row1 .text-area,
.row2 .image-area{
    float: right;
    width: 50%;
    height: 100%;
}
.row2 .text-area,
.row1 .image-area{
    float: left; 
    width: 50%;
    height: 100%;
}
.row1::after,
.row2::after{
    content: none;
    clear: both;
    display: block;
}
.row1{
    margin-bottom: 10rem;
}
.row .text-area{
    padding: 3rem;
    background-color: #fff;
}
.row .text-area h1{
    text-transform: uppercase;
}
.image-area img{
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* ********** creating feature bar ****************** */
.features{
    padding: 10rem 0;
}
.box-container{
    /* horizontal vertical blur spread  */
    box-shadow: 5px 5px 20px 0px rgba(51, 51, 51, 0.452);
    /* if height is not fixed then last div won't be able to make all these things ending at same line  */
    height: 300px;
}
.box{
    width: 33.33333%;
    height: 100%;
    float: left;
    text-align: center;
    padding: 2rem;
}
.box-container::after{
    content: "";
    display: block;
    clear: both;
}
.box-1,
.box-3{
    background-color: #263238;
}
.box-2{
    background-color: #e63946;
}


/* ******************************** creating footer ********************************** */
.links{
    text-align: center;
    background-color: #263238;
}
.links i{
    padding-top: 5rem;
    padding-right: 3rem;
}
.links .rights{
    padding: 3rem 2rem;
}
